/**
 * All of the SASS for your admin-specific functionality should be
 * included in this file.
 */

.tout-social-buttons {
	display			: flex;
	flex-wrap		: wrap;
	justify-content	: start;
}

.tout-social-button-icon {
	height 			: 1.5em;
	margin-right 	: 0.5em;
	width 			: 1.5em;
}
