/**
 * All of the SASS for your admin-specific functionality should be
 * included in this file.
 */

 $brands: (
  	baidu: #de0f17,
  	buffer: #168eea,
  	digg: #005be2,
  	douban: #072,
  	email: #fff,
  	evernote: #2dbe60,
  	facebook: #3b5998,
  	googleplus: #dd4b39,
  	linkedin: #0077b5,
  	pinterest: #bd081c,
  	qzone: #ffce00,
  	reddit: #ff4500,
  	renren: #005eac,
  	stumbleupon: #eb4924,
  	tumblr: #35465c,
  	twitter: #1da1f2,
  	vk: #45668e,
  	weibo: #e32529,
  	xing: #026466
 );


.tout-social-buttons {
	display			: flex;
	flex-wrap		: wrap;
	justify-content	: space-around;
}

.tout-btn {
	position: relative;
}

.tout-btn-icon {
	display     : block;
	height		: 30px !important;
	margin 		: 0 auto;
	width		: 30px !important;
}
