.click-to-tweet-wrap {
	margin-bottom   : 1.5em;
	padding 		: 1em;
}

.click-to-tweet-quote {
	padding 		: 1em;
	padding-bottom  : 0.5em;
}

.click-to-tweet-buttons {
	@include resetlist();

	display 		: flex;
	justify-content	: flex-end;
}

.click-to-tweet-text {
	color 			: #1DA1F2;
	margin-right    : 0.5em;
	text-transform 	: uppercase;
}

.click-to-tweet-button-link {
	display: block;
}

.click-to-tweet-icon {
	fill: #1DA1F2;

	.tout-social-button-icon {
		margin-right: 0;
	}
}

.default {
	&.click-to-tweet-wrap {
		background-color: #E1E8ED;
		padding-bottom 	: 0.5em;
	}

	blockquote {
		background-color: #fff;
		margin-bottom 	: 1em;
	}
}

.border {
	&.click-to-tweet-wrap {
		border: 1px solid;
	}
}

.shadow {
	&.click-to-tweet-wrap {
		box-shadow: 0px 2px 5px #14171A;
	}
}

.solid {
	&.click-to-tweet-wrap {
		background-color: #357dab; // had to go 25% darker for a11y purposes.
		color           : #fff;
	}

	.click-to-tweet-text,
	blockquote {
		color 			: #fff;
	}

	.click-to-tweet-icon {
		fill: #fff;
	}
}
