/**
 * All of the SASS for your admin-specific functionality should be
 * included in this file.
 */

@import '../../../includes/css/src/buttons';
@import '../../../includes/css/src/mixins';

.tout-social-button-wrap {
	align-items 	: center;
	cursor 			: move;
	display 		: flex;
	flex 			: 1;
	margin 			: 0.25em;
	max-width 		: 5em;
	min-width 		: 120px;
	padding 		: 0.5em;

	& * {
		cursor 	: move;
	}

	&.focus {
		outline-style: auto;
		outline-color: inherit;
		outline-width: 5px;
	}
}

.tout-social-active-buttons {
	justify-content: start;

	&:empty {
		border 			: 1px dashed;
		border-radius 	: 1em;
		min-height		: 4em;
	}
}

.field-alert {
	color: #a00;
}

.placeholder,
.sortable-ghost {
	opacity: 0.6;
}
