/**
 * All of the SASS for your admin-specific functionality should be
 * included in this file.
 */

@import '../../../includes/css/src/buttons';
@import '../../../includes/css/src/mixins';

.tout-social-button-wrap {
	cursor 		: move;
	padding 	: 0 0.5em;

	& * {
		cursor 	: move;
	}

	&.focus {
		outline-style: auto;
		outline-color: inherit;
		outline-width: 5px;
	}
}

.tout-social-button-checkbox {
	left 		: 50%;
	position 	: absolute;
	opacity 	: 0;
	top 		: 50%;
	transform 	: translate( -50%, -50% );
	z-index 	: -1;
}

.tout-social-button-icon {
	fill 		: #23282d;
}

.checked {

    @each $brand, $color in $brands {
        .tout-social-button-icon-#{$brand} {
            fill: $color;
        }
	}

	.tout-social-button-icon-email {
		filter: drop-shadow( 0 0 1px #23282d );
	}
}

.placeholder {
	background-color: #444;
	height 			: 45px;
	width 			: 45px;
}

.dragging
.dragging * {
    cursor: move !important;
}

.dragged {
    opacity 	: 0.6;
	position 	: absolute;
    z-index 	: 2000;
}

.field-alert {
	color: #a00;
}
