/**
 * All of the SASS for your admin-specific functionality should be
 * included in this file.
 */

@import '../../../buttons/css/src/buttons';

.tout-social-button {
	cursor 		: move;
	flex 		: 1;
	max-width 	: 5em;
	min-width 	: 130px;

	& * {
		cursor 	: move;
	}
}

.tout-social-active-buttons {
	justify-content: start;

	&:empty {
		border 			: 1px dashed;
		border-radius 	: 1em;
		min-height		: 4em;
	}
}

.tout-social-button-link {
	pointer-events	: none;
	text-decoration	: none;
}

.tout-social-button-icon {
	margin-right 	: 0.5em;
}

.field-alert {
	color: #a00;
}

.placeholder,
.sortable-ghost {
	opacity: 0.6;
}
