/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.tout-buttons-list {
    display     : flex;
    list-style  : none;
    margin      : 0;
    padding     : 0;
}
